td.class_table_ops_delete {
    cursor: pointer;
    text-decoration: underline;
}

td.class_table_ops_delete {
    float: right;
}

td.class_table_ops_delete a {
    color: #000;
}
td.class_table_ops_delete a:hover {
    color: #000;
}

